@{
    ViewBag.Title = "Página Inicial";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h1>Acompanhe as tarefas dos seus desenvolvedores</h1>
                <h2>de uma forma simples e rápida saiba como esta o andamento dos projetos</h2>
            </hgroup>
          
        </div>
    </section>
}
<h3>Algumas caracteristicas do SGHP:</h3>
<ol class="round">
    <li class="one">
        <h5>Interface simples</h5>
        O Sistema tem uma interface muito simples e intuitiva, utiliza os recursos
         que facilitam sua interção com o sistema. 
    </li>

    <li class="two">
        <h5>Sistema de Habilidades</h5>
        Com o sistema de habilidades voce pode escolher o desenvolvedor mais apto
        para as tuas tarefas.
    </li>

    <li class="three">
        <h5>Relatórios Gráficos</h5>
        Graficos são a maneira mais rápida de examinar muitos dados ao mesmo tempo
        sem se preucupar com os detalhes.
    </li>
</ol>
